<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="UTF-8" />
<title th:text="'Spring Boot: MVC + Thymeleaf + Data JPA - ' + ${title}"></title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
</head>
<body>

	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Spring Framework 5</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active"><a class="nav-link" href="#">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/toList}">Customers</a>
					</li>
				</ul>
				
				<ul class="navbar-nav navbar-right">
					
					<li sec:authorize="!isAuthenticated()">
						<a class="btn btn-outline-primary" th:href="@{/login}">Sign In</a>
					</li>
					
					<li sec:authorize="isAuthenticated()" class="dropdown show">
					  <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    <span sec:authentication="name"></span>
					  </a>
					
					  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					    <form id="logoutForm" th:action="@{/logout}" method="post">
					    	<button class="dropdown-item" onclick="document.getElementById('logoutForm').submit();"  type="submit">Sign Out</button>
					    </form>
					  </div>
					</li>
										
				</ul>
				
			</div>
		</nav>

		<div class="alert alert-success" th:if="${success != null}"
			th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error != null}"
			th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning != null}"
			th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info != null}"
			th:text="${info}"></div>

	</header>

	<div class="container"></div>

	<footer th:fragment="footer">
	 	<p sec:authorize="isAuthenticated()">
			User: <span sec:authentication="name"></span> | Roles: <span sec:authentication="principal.authorities"></span>
		</p>
		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
			crossorigin="anonymous"></script>
		<script th:src="@{/js/jquery-ui.min.js}"></script>
	</footer>

</body>
</html>