<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-dark text-white">

			<div class="card-header" th:text="${title}"></div>

			<div class="card-body">
				<h4 class="card-title">
					<a class="btn btn-light btn-xs"
						th:href="@{'/view/'+${invoice.customer.id}}" th:text="Volver"></a>
				</h4>

				<form th:action="@{/invoice/form/}" th:object="${invoice}"
					method="post">

					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="'Customer'"></label>
						<div class="col-sm-6">
							<input th:value="${invoice.customer.name}" disabled="disabled"
								class="form-control">
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="'Description'"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{description}" class="form-control" th:errorclass="'form-control is-invalid'" >
							<div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"  class="invalid-feedback"  ></div>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="'Observation'"></label>
						<div class="col-sm-6">
							<textarea th:field="*{observation}" class="form-control"></textarea>
						</div>
					</div>

					<div class="form-group row">
						<label for="search_goods" class="col-sm-2 col-form-label"
							th:text="'Search goods'"></label>
						<div class="col-sm-6">
							<input id="search_goods" type="text" name="search_goods"
								class="form-control">
						</div>
					</div>
					
					<table th:replace="invoice/items-template :: invoiceItems"></table>
					
					<table id="loadGoodsItem" class="table table-sm table-striped table-hover">
						<thead>
							<tr>
								<th>Name</th>
								<th>Price</th>
								<th>Quantity</th>
								<th>Total</th>
								<th>Delete</th>
							</tr>
						</thead>
						
						<tbody>
						
						</tbody>
						
					</table>
					
					<h5>Total: <span class="badge badge-secondary" id="total">0</span></h5>

					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="${title}"
								class="btn btn-secondary">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
	<script th:replace="invoice/js/autocomplete-goods :: javascript"></script>
</body>
</html>