<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-danger text-white">
			<div class="card_header">Error: Access denied</div>
			<div class="card_body">
				<h5 class="card-title">
					Sorry. <span th:text="${#authentication.name}"></span>
					You can't to access to this resources
				</h5>
				<a th:href="@{/toList}" class="btn btn-outline-light" role="button">Go
					to home</a>
			</div>
		</div>

	</div>


	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>