<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-dark text-white">

			<div class="card-header" th:text="${title}"></div>

			<div class="card-body">
				<form th:action="@{/form}" th:object="${customer}" method="post"
					enctype="multipart/form-data">
					<table>
						<tr>
							<td>Name</td>
							<td><input type="text" th:field="*{name}"
								class="form-control" th:errorclass="'form-control alert-danger'" />
								<small class="form-text text-danger"
								th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small></td>
						</tr>
						<tr>
							<td>LastName</td>
							<td><input type="text" th:field="*{lastName}"
								class="form-control" th:errorclass="'form-control alert-danger'" />
								<small class="form-text text-danger"
								th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></small></td>
						</tr>
						<tr>
							<td>Email</td>
							<td><input type="text" th:field="*{email}"
								class="form-control" th:errorclass="'form-control alert-danger'" />
								<small class="form-text text-danger"
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
							</td>
						</tr>
						<tr>
							<td>Date</td>
							<td><input type="text" th:field="*{createAt}"
								class="form-control" th:errorclass="'form-control alert-danger'" />
								<small class="form-text text-danger"
								th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}"></small>
							</td>
						</tr>
						<tr>
							<td>Photo</td>
							<td><input type="file" name="file" class="form-control"/> <small
								class="form-text text-danger"></small></td>
						</tr>
						<tr>
							<td><input type="submit" value="Create customer"
								class="btn btn-primary" /></td>
						</tr>

					</table>

				</form>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>