<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

	<nav th:fragment="paginator">

		<ul class="pagination">
			<li class="page-item"
				th:class="${page.first? 'page-item disabled':'page-item'}"><span
				class="page-link" th:if="${page.first}">first</span> <a
				class="page-link" th:if="${not page.first}"
				th:href="@{${page.url}(page=0)}">first</a></li>
			<li class="page-item"
				th:class="${not page.hasPrevious? 'page-item disabled':'page-item'}"><span
				class="page-link" th:if="${not page.hasPrevious}">previous</span> <a
				class="page-link" th:if="${page.hasPrevious}"
				th:href="@{${page.url}(page=${page.currentPage-2})}">previous</a></li>
			<li class="page-item"
				th:class="${item.current? 'page-item active':'page-item'}"
				th:each="item:${page.pages}"><span class="page-link"
				th:if="${item.current}" th:text="${item.number}"></span> <a
				class="page-link" th:if="${not item.current}"
				th:href="@{${page.url}(page=${item.number-1})}"
				th:text="${item.number}"></a></li>
			<li class="page-item"
				th:class="${not page.hasNext? 'page-item disabled':'page-item'}"><span
				class="page-link" th:if="${not page.hasNext}">previous</span> <a
				class="page-link" th:if="${page.hasNext}"
				th:href="@{${page.url}(page=${page.currentPage})}">previous</a></li>
			<li class="page-item"
				th:class="${page.last? 'page-item disabled':'page-item'}"><span
				class="page-link" th:if="${page.last}">last</span> <a
				class="page-link" th:if="${not page.last}"
				th:href="@{${page.url}(page=${page.pagesTotal-1})}">last</a></li>
		</ul>

	</nav>

</body>
</html>