<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${title}"></div>

			<div class="card-body">

				<h4 class="card-title">
					<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/form}"
						class="btn btn-primary btn-xs">Create customer</a>
				</h4>
				<table class="table table-striped">
					<thead>
						<tr>
							<th sec:authorize="hasRole('ROLE_USER')">Id</th>
							<th>Name</th>
							<th>LastName</th>
							<th>Email</th>
							<th>Date</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')">Create invoice</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')">Edit</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')">Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="customer: ${customers}">
							<td sec:authorize="hasRole('ROLE_USER')"><a
								th:href="@{/view/} +${customer.id}" th:text="${customer.id}"></a></td>
							<td th:text="${customer.name}"></td>
							<td th:text="${customer.lastName}"></td>
							<td th:text="${customer.email}"></td>
							<td th:text="${customer.createAt}"></td>

							<td sec:authorize="hasRole('ROLE_ADMIN')"><a
								class="btn btn-success btn-xs"
								th:href="@{'/invoice/form/'+${customer.id}}"
								th:text="'Create invoice'"></a></td>

							<td sec:authorize="hasRole('ROLE_ADMIN')"><a
								class="btn btn-primary btn-xs"
								th:href="@{/form/} + ${customer.id}" th:text="'Edit'"></a></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a
								class="btn btn-danger btn-xs"
								th:href="@{/delete/} + ${customer.id}" th:text="'Delete'"
								onclick="return confirm('Are you sure do you want remove this customer?')"></a></td>
						</tr>
					</tbody>
				</table>
				<nav th:replace="paginator-nav :: paginator"></nav>
			</div>

		</div>

	</div>


	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>