<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card-header" th:text="${title}"></div>

		<div class="card-body">

			<h4 class="card-title">
				<a class="btn btn-primary btn-xs"
					th:href="@{'/invoice/form/'+${customer.id}}"
					th:text="'Create invoice'"></a>
			</h4>


			<img th:if="${#strings.length(customer.photo) > 0}"
				class="img-thumbnail rounded float-left" style="max-width: 25%"
				th:src="@{'/uploads/'+${customer.photo}}" />

			<ul class="list-group">
				<li class="list-group-item" th:text="${customer.name}"></li>
				<li class="list-group-item" th:text="${customer.lastName}"></li>
				<li class="list-group-item" th:text="${customer.email}"></li>
				<li class="list-group-item" th:text="${customer.createAt}"></li>
			</ul>

			<div th:if="${#lists.isEmpty(customer.invoices)}"
				class="alert alert-info my-4"
				th:text="'There arent invoices assigned for this customer '+ ${customer.name}+' '+${customer.lastName}">
			</div>

			<table th:if="${not #lists.isEmpty(customer.invoices)}"
				class="table table-bordered table-striped my-4">
				<thead class="thead-dark">
					<tr>
						<th>Folio</th>
						<th>Description</th>
						<th>Date</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="invoice: ${customer.invoices}">
						<td th:text="${invoice.id}"></td>
						<td th:text="${invoice.description}"></td>
						<td th:text="${invoice.createAt}"></td>
						<td th:text="${invoice.total}"></td>
					</tr>
				</tbody>
			</table>

		</div>

	</div>


	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>